.posts{
    display: flex;
    text-align: center;
    border:1px solid #fff;
    border-radius:15px;
    border-color: beige;
}
#profilepic{
    padding-right: 0px;
    height: 56px;
    width: auto;   
    border-radius: 50%;
    //float: left;  
   }
#bookpicture{
    height: 120px;
    width: auto;
}
#posttext{
   
}