@import "~bootstrap/scss/bootstrap";

$theme-colors: (
    "info": tomato,
    "danger": teal
);

*{
    margin: 0;
    padding: 0;
}

.item{
    margin: 7px;
    padding: 3rem 1rem;
    text-align: center;
    line-height: 1;
    background:rgb(18, 151, 228);
    border: 6px solid rgb(11, 121, 155);
    border-radius: 2rem;
    color: black;

}

.SearchContainer{

}

.body_container{
    display: flex;
    width: 100%;
    height: auto;
    padding: 0px;
}

.main_content{
    order: 3;
    flex: 3;
    padding:0px;
    color:rgb(0, 0, 0);
}

.left_sidebar{
    order: 1;
    flex: 1;
}

// Left Side 
.book_ImgContainer{
    background-color: rgb(20, 53, 46);
    border: none;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 570px;
    width: 400px;
    #pic{
        border-radius: 1rem;
        
    }
}
// End

//Main Content
.primaryinfoContainer{
    border: none;
}

.title_container{
    display: flex;
    font-size: 28px;
    padding-top: 0px;
    padding: 9px;
    margin-top: 0px;
}
.subtitle_container{
    display: flex;
    font-size: 20px;
    padding: 18px;
}
.author_container{
    display: flex;
    font-size: 18px;
    padding: 18px;
}
.publishinginfo_container{
    display: flex;
    font-size: 17px;
    padding: 18px;
}
.publishingdate_container{
    display: flex;
    font-size: 17px;
    margin-top: 0px;
    padding: 18px;
}
.pagecount_container{
    display: flex;
    font-size: 17px;
    margin-top: 0px;
    padding: 18px;
}
.booklanguage_container{
    display: flex;
    font-size: 17px;
    padding-left: 19px;
}
.bookdescription_container{
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    padding: 18px;

    .description{
        text-align: left;
        font-size: 25px;
    }
}
//Main Content - End

.bookrecommendations{
    height: 18vh;
    padding: 30px;
   
}

