$page-black:#001022;

.search-container{
    background:$page-black;
    display: flex;
    flex-direction:column;
    padding: 3%;
    height: 12.6rem;
    margin-bottom: 4rem ;
}

.searchbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    form {
        width: 0;
        height: 0;
    }
    button {
        background-color: #fff;
        padding: 1.3rem;
        margin-left: 30.4rem;
        margin-top: 5.5rem;
        z-index: 10;
        border:#ffffff;
        cursor:pointer;
        img{
            height:2rem;
            z-index: 10;
        } 
    }
    input {
        outline: none;
        background-color: #fff;
        width: 35rem;
        height: 5rem;
        margin-top:6rem;
        position: absolute;
        font-size: x-large;
        font-family: "SFProRegular";
        
    }
}

.book-results{
    display: grid;
    margin-top: 3rem;
    margin-left:5rem;
    margin-right:5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1em;
}
.card{
    width: 20rem;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #002958;
    border-radius: 8px;
    .card-body {
        height: 500px;
        padding: 50px;
    }
    p {
        color: #6c757d;
        max-width: fit-content;
        font-size: medium;
        overflow:hidden;
        max-width: 13rem;
        height: 3rem;
    }
    img {
       width: 10rem;
       height: 14rem;
       border: 2px solid #00070fda;
        
    }
    Link{
        color:#fff;
    }
    .view-book{
        font-style:"TisaSansPro"
    }
    h5{
        color:#001022;
        text-decoration: none;
        font-size: medium;
        overflow-wrap:break-word;
        max-width: 13rem;
        height: 2.3rem;
    }
    .btn{
        text-align: center;
        height:2rem;
        width:8.59rem;
        font-family: "TisaSansPro";
        font-size:small;
    }
}

.user-search-result-list{
    list-style: none;
    display: flex;
    border-bottom: 1px solid black;
    padding-left: 5rem;
    padding-bottom: 1rem;
    li{
        margin-right: 1rem;
        font-size: 1.5rem;
    }

}