$page-background-color:#e3fcff;
$secondary-background-color:#001022;
$font-color: #fff;

.profile-container{
    background:$page-background-color;
    display: flex;
    justify-content: center;
    padding: 3%;
    overflow-y: auto;
    color: $font-color;
}
.profile-hero{
    background-color:$secondary-background-color;
    width:60%;
    padding: 24px 24px;
    display: flex;
    border-radius: 30px;
    .discription{
        font-size: 0.8rem;
    }
    .img-and-titl{
        display: flex;

        .cover{
            height:250px;
            padding:4%;
            border-radius: 40px;
        }
        .title-sub{
            .title{
                padding-top: 3rem;
                font-size: 3rem;
            }
        }
    }

    .details-container{
        display: flex;
        flex-direction: row;
        padding-bottom: 5px;
        border-bottom: 0.5px solid white;

        div{
            margin: 1rem;
        }
    }  
}
.discription{
    font-size: 1rem;
    font-weight: lighter;
}
