$page-background-color:#e3fcff;
$secondary-background-color:#001022;
$font-color: #fff;

.profile-container{
    background:$page-background-color;
    display: flex;
    justify-content: center;
    padding: 3%;
    height:1000px;

}
.profile-hero{
    //background-color:$secondary-background-color;
    height:80%;
    width:60%;
    padding: 24px 24px;
    display: flex;
    border-radius: 30px;
    img{
        height:250px;
        padding:4%;
    }
    
}
