@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: "TisaSansPro";
    src: url(../assets/fonts/TisaSansPro.woff) format('woff');
  }
  @font-face {
    font-family: "TisaSansProBoldItalic";
    src: url(../assets/fonts/TisaSansPro-BoldItalic.woff) format('woff');
  }
$font-style: "Poppins", sans-serif;
:root {
    font-family: "Poppins", sans-seri;
}
body{
	margin:0;
	padding:0;
}

#under-construction-img {
    max-width: 50%;
    margin-left: 50%;
    // margin-top: 5%;
    transform: translate(-50%, 0);
}
.under-construction-statement {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.big-font{
    font-size: 5rem;
}
#quick-lit{
    display: inline;
    animation: color-change 1s infinite;
}
#signout-btn{
    width: 10rem;
    margin: 1rem;
    float: right;
    border-radius: 10px;
    overflow: hidden;
}

@keyframes color-change {
    0% { color: #295B94; }
    20% { color: #03DA63; }
    40% { color: #03DA63; }
    60% { color: #ABD2FD; }
    80% { color: #ABD2FD; }
    100% { color: #295B94; }
}

@media only screen and (max-width: 600px) {
    #under-construction-img {
        max-width: 100%;
        // margin-top: 5%;
    }
    .big-font{
        font-size: 3rem;
    }
  }