.all-component-wrapper{
    display: flex;
    justify-content: center;
}
.all-posts-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    .create-post-container{
    margin:1rem;
        .create-post{
            padding: 1rem;
            margin: 0.5rem;
        }
        .create-post-header{
            display:flex;
            align-self:stretch;
            h4{
                margin:0px;
            }
        }
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .post-body-input{
            height:50px;
            border-radius: 10px;
            resize:none;
            width:500px;
            font-family: "Poppins", sans-seri;
        }
            
        .post-book-input{
            height:30px;
            border-radius: 10px;
            resize:none;
            width:500px;
            font-family: "Poppins", sans-seri;
        }
        
        button{
            border-radius:10px;
        }
        .create-post-footer{
            flex-direction: row;
            align-self:stretch;
            .create-post-book-tag{
                .book-tag-button{
                    float: left;
                    .book-icon{
                        width:25px;
                        height:25px;
                    }
                }
            }
            .publish-post-button{
                float: right;
                
            }
        }

    }
}

.loading-homefeed-status{
    text-align: center;
    padding:100px;
}

.submitting-post-creation{
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin:1rem auto;
    padding:0.1rem;
    border: 3px solid gray;
}

.success-post-creation{
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin:1rem auto;
    padding:0.1rem;
    background-color:lightgreen;
    border: 3px solid gray;
}

.error-post-creation{
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin:1rem auto;
    padding:0.1rem;
    background-color:red;
    border: 3px solid gray;
}


.error-homefeed-status{
    border-radius: 10px;
    width: 50%;
    text-align: center;
    margin:1rem auto;
    padding:0.1rem;
    background-color:red;
    border: 3px solid gray;
}